@font-face {
    font-family: 'Gotham';
    src: url(../font/Gotham-Black.otf)
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
    background-color: transparent; 
}


::-webkit-scrollbar-thumb {
    background-color: #2A2A2A; 
    border-radius: 5px;
}

body {
    background-color: #000000;
}
header {
    display: flex;
    flex-direction: row;
}

.header-big {
    width: 60vh;
    height: 95vh;
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.6px;
    font-weight: bolder;
    box-shadow: #050505;
   
}
    .container-home-search {
        background-color: #121212;
        border-radius: 10px;
        width: 55vh;
        height: 10vh;   
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 15px;
        
    }
        .container-home-search input {
            color: #fefefe;
            width: 50vh;
            height: 5vh;
            border-radius: 10px;
            background-color: #2A2A2A;
            padding-left: 5px;
            opacity: 0.7;
            font-weight: bolder;
            box-shadow: #050505;
        }
        .container-home-search input:hover {
            border: solid 2px #fefefe;
            transform: scale(1.05);
            opacity: 1;
        }
        .container-home-search input:focus {
            opacity: 1;
        }

        .container-category {
            margin-top: 10px;
            background-color: #121212;
            border-radius: 10px;
            width: 55vh;
            height: 35vh;   
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-top: 15px;
            box-shadow: #050505;
        }
        .container-category h2 {
            color: #fefefe;
            font-weight: bolder;
            padding-bottom: 10px;
        }
        .container-category nav {
           display: flex;
           flex-direction: column;
        }
        .container-category a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #fefefe;
            height: 4vh;
            width: 50vh;
            border-radius: 5px;
            background-color: #262626;
            margin-top: 10px;
            text-align: left;
            padding-left: 5px;
            font-weight: bolder;
            opacity: 0.7;
        }

        .container-category a:hover {
            transform: scale(1.05);
            opacity: 1;
        }

.container-recemmentvu {
    margin-top: 10px;
    background-color: #121212;
    border-radius: 10px;
    width: 55vh;
    height: 35vh;   
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    box-shadow: #050505;
}
.container-recemmentvu h2 {
    color: #fefefe;
    font-weight: bolder;
    padding-left: 5px;
}

.container-recemmentvu img {
    margin-top: 4vh;
    width: 10vh;
    height: 7vh;
    opacity: 0.8;
}

.container-recemmentvu img:hover {
    transform: scale(1.05);
    opacity: 1;
}

.container-consults {
    margin-top: 2vh;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap:wrap-reverse;
}
.container-consults a {
    text-decoration: none;
}

.header-little {
    width: 140vh;
    height: 7vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    left: 60vh;
    z-index: 1000;
    opacity: 0.5;
    box-shadow: #050505;
    text-align: center;
}
.header-little:hover {
    opacity: 1;
}

.header-little h2 {
    color: #fefefe;
    font-size: 25px;
    margin-left: 30px;
}


.container-home-fav {
    display: flex;
    background-color: #121212;
    border-radius: 10px;
    width: 130vh;
    padding: 5px;
}

.container-home-fav img {
    width: 3vh;
    height: 3vh;
    opacity: 0.7;
}

.container-home-fav img:hover {
    opacity: 1;
    transform: scale(1.05);
    
}
.container-home-fav a {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.container-index {
    position: absolute;
    margin-top: 3vh;
    border-radius: 10px;
    top: 9vh; 
    right: 0;
    left: 60vh; 
    max-height: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15vh;
}
.container-index-index {
    position: absolute;
    margin-top: 3vh;
    border-radius: 10px;
    top: 22vh; 
    right: 0;
    left: 60vh; 
    max-height: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15vh;

}
.message-index {
    position: absolute;
    width: fit-content;
    height: 5vh;
    color: #fefefe;
    top: 7vh; 
    right: 0;
    left: 60vh;
    padding-top: 5vh;
    margin-left: 4vh;
    margin-bottom: 2vh;
}
.container-country {
    width: 25vh;
    height: 18vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top:8vh;
}
.container-country img {
    width: 25vh;
    height: 18vh;
    transition: opacity 0.3s ease;
    border-radius:10px;
    opacity: 0.8;
}
.container-country img:hover {
    transform: scale(1.1);
} 
.container-country h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    text-align: center;
    font-weight: bolder;
}
.container-country:hover h2 {
    opacity: 1;
}

.container-country:hover img {
    opacity: 0.3;
}


footer {
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fefefe;
    display: flex;
    justify-content: end;
    align-items: end;
}

footer a {
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #fefefe;
}

.container-about {
    color: #fefefe;
    background-color: #121212;
    position: absolute;
    border-radius: 10px;
    top: 7vh; 
    right: 0;
    left: 60vh; 
    max-height: fit-content;
    height: fit-content;
}

.pagination-container {
    position: absolute;
    border-radius: 10px;
    top: 8vh; 
    right: 0;
    left: 60vh;  
    padding-top: 20px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.pagination-container img {
    width: 4vh;
    height: 4vh;
    opacity: 0.5;
}

.pagination-container img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.pagination-container h2 {
    color: #fefefe;
    margin-left: 3px;
    margin-right: 3px;
}
.details {
    color: #fefefe;
    position: absolute;
    border-radius: 10px;
    top: 7vh; 
    right: 0;
    left: 60vh; 
    height: 80vh;
    width: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-details {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height: 28vh;
    border-radius: 10px;
    padding: 5vh;
    background-color: #121212;
    box-shadow: #050505;

}

.container-details img {
    width: 40vh;
    height: 25vh;
    border-radius: 10px;
    margin-right: 1vh;
}

.container-details a {
    text-decoration: none;
    color: #fefefe;
}
.details-infos {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.details-infos h2 {
    font-size: 30px;
    font-weight: bolder;
}
.details-infos h3 {
    font-size: 18px;
    font-weight: bolder;
}
.fav {
    display: flex;
    justify-content: flex-end;
}

.fav img {
    width: 5vh;
    height: 5vh;
}

.Supprimer {
    opacity: 1;
}
.Supprimer:hover {
    opacity: 0.5;
    transform: scale(0.90);
}
.Add {
    opacity: 0.5;
}
.Add:hover {
    opacity: 1;
    transform: scale(1.05);
}
.container-error {
    color: #fefefe;
    position: absolute;
    border-radius: 10px;
    top: 7vh; 
    right: 0;
    left: 60vh; 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-message {
    color: #fefefe;
    position: absolute;
    top: 8vh; 
    right: 0;
    left: 60vh;
    border-radius: 10px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtre {
    color: #fefefe;
    margin-top: 20px;
    position: absolute;
    top: 19vh; 
    right: 0;
    left: 64vh;
    border-radius: 10px;
}

.filtre label {
    margin-right: 2vh;
    opacity: 0.7;
}

.filtre label:hover {
    opacity: 1;
    transform: scale(1.05);
}
.filtre button {
    color: #fefefe;
    width: 15vh;
    height: 3vh;
    background-color: #262626;
    cursor: pointer;
    border-radius: 5px;
}

.filtre label {
    cursor: pointer;
}

.filtre button:hover {
    transform: scale(1.05);
}

.filtre input[type="input"] {
    padding-left: 2px;
    border-radius: 5px;
}
.filtre input[type="input"]:hover {
    border: solid 2px #fefefe;
            transform: scale(1.05);
            opacity: 1;
}

.filtre input[type="input"]:focus {
    opacity: 1;
}

