* {
    margin: 0;
    padding: 0;
}


header {
    width: auto;
    height: 20vh;
    background-color: #050505;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 100px;
    font-family: "Lalezar", system-ui;
    border-bottom: 2px solid #fefefe;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 60vh;
    margin-left: 10vh; 
}

header a {
    text-decoration: none;
    color: #fefefe;
}


.cate-a{
    width: 8vh;
    text-align: center;
    text-decoration: none;
    color: #fefefe;
    border: #050505 1px solid;
    border-radius: 10px;
    background-color: #262626;
    padding: 10px;
    box-shadow: black;
}

.cate-a:hover{
    transform: scale(1.05);
    background-color: #D80286;
}

header input {
    background-color: #050505;
    border: 2px solid #fefefe;
    border-radius: 10px;
    color: #fefefe;
    padding: 5px;
    font-weight: 900;
}

header input:hover {
    transform: scale(1.05);
    border: 2px solid #D80286;
}

header input:focus {
    transform: scale(1.05);
    border: 2px solid #D80286;
}

.header-search-login {
    display: flex;
    cursor: pointer;
}
body{
    background-color: #050505;
    height: 70vh;
    color: #fefefe;
    height: fit-content;
    min-height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #050505;
    color: #fefefe;
    border-top: 2px solid #fefefe;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer a {
    text-decoration: none;
    color: #fefefe;
    margin-right: 5vh;
}

.container-global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.container-country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    position: relative;
    margin: 0.7vh;
}

.container-country img {
    width:35vh;
    height: 20vh;
    transition: opacity 0.3s ease;
    border-radius:10px;
    margin-top: 2.8vh;
    opacity: 0.9;
}
.container-country:hover img {
    transform: scale(1.1);
} 
.container-country h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.container-country:hover h2 {
    opacity: 1;
}

.container-country:hover img {
    opacity: 0.3;
}

.container-details {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height: 35vh;
    background-color: #262626;
    border-radius: 10px;
    padding: 5vh;
}

.container-details img {
    width: 45vh;
    height: 32vh;
    border-radius: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

.details-infos {
    padding-left: 5vh;
}
.details-infos h2 {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 1vh;
}

.details-infos h3 {
    font-weight: 900;
    font-size: 15px;
    margin: 0px;
}


.button_slide {
    width: 20vh;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
  }

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
  
  #outer {
    width: 1vh;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .button_slide-header {
    margin-left: 2vh;
    width: 5vh;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 10px;
    padding: 9px 18px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
  }

  .message {
    font-size: 25px;
    font-weight: 900;
  }

  
  .filtre {
    display: flex;
    justify-content: center;
  }
  .filtre form {
    width: 120vh;
    margin-top: 5vh;
    margin-left: 5vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

  }
.filtre input {
    width: 10vh;
    background-color: #050505;
    border: 1px solid #fefefe;
    border-radius: 10px;
    color: #fefefe;
    padding: 5px;
    font-weight: 900;
}
  .filtre a {
    text-decoration: none;
  }

  .button_slide-filter {
    width: 20vh;
    background-color: #050505;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 10px;
    padding: 9px 18px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center; 
  }

  .container-global .container-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
  }


  input[type="checkbox"] { 
    background-color: #050505;
    border: 2px solid #fefefe;
  }