    {{define "category"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content ="IE-edge">
        <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/base.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>CATEGORY</title>
    </head>
    <body>
    <header>

        <nav>
            <a href="/category?category=africa"> Afrique </a>
            <a href="/category?category=america"> Amérique </a>
            <a href="/category?category=asia"> Asie </a>
            <a href="/category?category=europe"> Europe </a>
            <a href="/category?category=oceania"> Océanie </a>
            </nav>
            <div class="header-search-login">
                <form action="/search" method="GET">
                <input type="text" name="usersearch" autocomplete="off" placeholder="Search . . . ">
                </form>
                <a href="/favorite">  <div class="button_slide-header slide_right"> FAV   </div> </a>
            </div>
    </header>
        <section class="filtre">
            <form action="/category" method="GET">
                <input type="hidden" name="category" value="{{.Category}}">
                <label><input type="checkbox" name="independent" value="true"> Indépendant</label>
                <label><input type="checkbox" name="alphabetical" value="true"> A-Z</label>
                <label> <input placeholder="min" type="number" name="min_population" value=""></label>
                <label><input placeholder="max" type="number" name="max_population" value=""></label>
                <button class="button_slide-filter slide_right"type="submit">Filtrer</button>
            </form>
    </section>

        <section class="container-global">
        
            {{range .Results}}
            <div class="container-country">
                <a href="/details?country={{.Name}}"> <img src="{{.Flag}}" alt="Flag"> 
            <h2>{{.Name}}</h2> </a>
            </div>
            {{end}}
        </section>
        


    <footer>
    zffz
    </footer>
    </body>
    {{end}}



