{{define "createuser"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>CreateUser</title>
</head>
<body class="align">
<header>

    <nav>
        <a href="/category?category=africa"> Afrique </a>
        <a href="/category?category=america"> Amérique </a>
        <a href="/category?category=asia"> Asie </a>
        <a href="/category?category=europe"> Europe </a>
        <a href="/category?category=oceania"> Océanie </a>
        </nav>
        <body>
    <form action="/search" method="GET">
    <input type="text" name="usersearch" autocomplete="off" placeholder="Search . . . ">

    </form>

</header>





<footer>
zffz
</footer>
</body>
{{end}}



