{{define "search"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>SEARCH</title>
</head>
<body>
<header>

    <nav>
    <a href="Caté"> Catégories </a>
    <a href="Caté"> Catégories </a>
    <a href="Caté"> Catégories </a>
    </nav>

    <form action="/search" method="GET">
    <input type="text" name="usersearch" autocomplete="off" placeholder="Search . . . ">

    </form>

</header>
<div>
    SEARCH
    {{range .}}
    <p>Area: {{.Area}} km²</p>
    <h2>{{.Name}}</h2>
    <p>Population: {{.Pop}}</p>
    <img src="{{.Flag}}" alt="Flag">
    {{end}}
</div>







<footer>
zffz
</footer>
</body>
{{end}}



